[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"

[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/ryanhobsonsmith/nvim-config.git"
    refreshPeriod = "168h"
